p {
    text-align: center;
    font-size: 50px;
}

#main {
    margin: 0 auto;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.gamepiece {
    margin: 0 auto;
    height: 25vh;
    width: 12.5vw;
}